body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header, footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1em 0;
}

main {
  padding: 2em;
}

h1, h2 {
  color: #0055aa;
}
